<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let deleteLink = $("a:contains('Delete')");
            $(deleteLink).click(function (event) {
                $.ajax({
                    url: $(event.target).attr("href"),
                    type: "DELETE",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (customer) {
                        let respContent = "";
                        let rowToDelete = $(event.target).closest("tr");
                        rowToDelete.remove();
                        respContent += "<span class='success'>Smartphone was deleted: [";
                        respContent += customer.id + " : ";
                        respContent += customer.name + "]</span>";
                        $("#sPhoneFromResponse").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<h1>Customers List</h1>
<div id="sPhoneFromResponse"></div>
<a href="/customers/create">Create new customer</a>
    <table border="1px solid black">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Action</td>
            </tr>
        </thead>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td>
                <a href="#">Edit</a>
                <a th:href="@{customers/delete/__${customer.id}__}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>
